# Foreman proxy to which reports should be uploaded
:server: '{{ capsule_hostname }}'
:port: {{ capsule_port }}

## SSL specific options ##
# Client CA file.
# It could be Puppet CA certificate (e.g., '/var/lib/puppet/ssl/certs/ca.pem')
# Or (recommended for client reporting to Katello) subscription manager CA file, (e.g., '/etc/rhsm/ca/katello-server-ca.pem')
:ca_file: '/etc/rhsm/ca/katello-server-ca.pem'
# Client host certificate.
# It could be Puppet agent host certificate (e.g., '/var/lib/puppet/ssl/certs/myhost.example.com.pem')
# Or (recommended for client reporting to Katello) consumer certificate (e.g., '/etc/pki/consumer/cert.pem')
:host_certificate: '/etc/pki/consumer/cert.pem'
#
# Client private key
# It could be Puppet agent private key (e.g., '/var/lib/puppet/ssl/private_keys/myhost.example.com.pem')
# Or (recommended for client reporting to Katello) consumer private key (e.g., '/etc/pki/consumer/key.pem')
:host_private_key: '/etc/pki/consumer/key.pem'
# policy (key is id as in Foreman)

{{ policy.id }}:
  :profile: '{{ scap_content }}'
  :content_path: '/var/lib/openscap/content/{{scapcontents.json.digest}}.xml'
  # Download path
  # A path to download SCAP content from proxy
  :download_path: '/compliance/policies/{{policy.id}}/content/{{scapcontents.json.digest}}'
  {% if tailoring_file.json.total > 0 %}
  :tailoring_path: '/var/lib/openscap/tailoring/{{tailoring_file.json.digest}}.xml'
  :tailoring_download_path: '/compliance/policies/{{policy.id}}/tailoring/{{tailoring_file.json.digest}}'
  {% endif %}